#endGame {
    width: 100vw;
    height: 100vh;
    background-color: aliceblue;
    position: fixed;
}

#endGameBox{
    width: 80vw;
    max-width: 450px;;
    font-size: 18px;
    position: absolute;
    top: calc(50vh - 50px);
    left: 50vw;
    transform: translate(-50%, -50%);
    padding: 20px;
    border: 2px solid #000000;
}

#endGameEmoji{
    font-size: 40px;
}

#endGameTitle{
    font-size: 30px;
    font-weight: 500px;    
}