#gameBox {
    position: absolute;
    top: 50px;
    bottom: 0;
    left: 0;
    right: 0;
}

#cardInfo {
    width: 75vw;
    max-width: 800px;
    position: absolute;
    bottom: 50vh;
    left: 50vw;
    transform: translate(-50%, 50%);
    display: flex;
    flex-direction: column;
    gap: 30px;
}

#cardType {
    font-size: 32px;
}

#cardText {
    font-size: 20px;
}

#buttonContainer{
    display: flex;
    justify-content: space-between;
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    margin: 4vw;
}

#buttonContainer button{
    width: 40px;
    height: 40px;
    color: #000000;
    cursor: pointer;
    border: 2px solid #000000;
    border-radius: 50%;
}

#kCounterBox{
    color: white;
    width: 67.6px;
    height: 100px;
    background-color: red;
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
    font-size: 28px;
    font-weight: 500;
    position: absolute;
    right: 10px;
    top: 79px;

}

#kCounterText{
    position: absolute;
    top: 26px;
    right: 19px;
}

.cardImage{
    width: 152px;
    height: 203px;
    border-radius: 10px;
}

.cardImage img{
    width: 100%;
    height: 100%;
    max-width: 180px;
}

.extractionText{
    width: 80%;
    font-size: 20px;
    color: white;
    background: radial-gradient(closest-side, #727272, #422b05);
    box-sizing: content-box;
    padding: 15px 8px;
    border-radius: 20px;
    margin: 0 20px;
    display: flex;
    justify-content: center;
    align-items: center;
}

#guideBtn{
    font-size: 22px;
    line-height: 1.1;
    left: 20px;
}

#editBtn{
    font-size: 20px;
    line-height: 1.15;
    right: 20px;
}

/* ^ Guide */
#guide {
    background: #96b8d5c5;
    position: absolute;
    top: 50px;
    bottom: 0;
    left: 0;
    right: 0;
}

#guideBox{
    position: absolute;
    top: calc(50vh - 50px);
    transform: translate(0, -50%);
    left: 35px;
    right: 35px;
    background: red;
    max-width: 500px;
    margin: auto;
    z-index: 2;
    border-radius: 10px;
}

#guideExit{
    width: 28px;
    height: 28px;
    font-size: 20px;
    border: 2px solid #000000;
    border-radius: 50%;
    position: absolute;
    top: 16px;
    right: 16px;
    cursor: pointer;
    line-height: 1.1;
}

#guideInfo{
    margin: 48px 20px;
    height: 90%;
    overflow: scroll;
    display: flex;
    flex-direction: column;
    gap: 10px;
}

#guideTitle {
    font-size: 24px;
    font-weight: 300;
    text-align: center;
}

#guideText {
    font-size: 16px ;
    text-align: left;
}