.guide{
    position: fixed;
    top: 115px;
    bottom: 40px;
    left: 35px;
    right: 35px;
    max-width: 500px;
    margin: auto;
    background: radial-gradient(closest-side, #727272, #422b05);
    z-index: 2;
    border-radius: 10px;
}

.exit{
    width: 28px;
    height: 28px;
    font-size: 20px;
    color: white;
    border: 2px solid white;
    border-radius: 50%;
    position: absolute;
    top: 10px;
    right: 10px;
    cursor: pointer;
    line-height: 1.1;
}

.guideBox{
    margin: 48px 8px;
    text-align: left;
    font-weight: 200;
    color: white;
    height: 90%;
    overflow: scroll;
}

.cardGuide{
    display: block;
    margin-bottom: 15px;
    text-indent: 12px;
}