#modeBox {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    align-content: space-evenly;
    position: absolute;
    top: 50px;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;
}

.modeElement {
    width: calc(100%/3 - 30px);
    height: calc(50% - 30px);
    font-size: 18px;
    background-color: limegreen;
    display: flex;
    justify-content: center;
    align-items: center;
    opacity: 0.75;
    border-radius: 30px;
}

.modeElement:hover {
    opacity: 1;
}