#settings {
    z-index: 1;
}

.bar{
    display: flex;
    justify-content: center;
    margin: 20px 0;
}

.bar:after{
    content: "";
    clear: both;
    display: table;
}

#playerInput{
    color: #024c27;
    width: 200px;
    height: auto;
    border-radius: 18px;
    padding: 6px 10px;
    overflow: auto;
}

.playersDisplay{
    position: relative;
    margin: 20px 25vw;
}

.listElement{
    color: #024c27;
    background-color: white;
    border-radius: 5px;
    margin-bottom: 12px;
    margin-right: 6px;
    line-height: 1.4;
    padding: 0 8px;
    float: left;
}

.cross{
    width: 22.4px;
    height: 22.4px;
    display: inline-block;
    color: red;
    margin-bottom: 4px;
    border-radius: 50%;
    position: relative;
    top: 1px;
    cursor: pointer;
}

.languagesBox{
    width: 100%;
    height: 100px;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
    margin-top: 60px;
    position: absolute;
    bottom: 15px;
}

.language{
    width: 32px;
    height: 32px;
    border-radius: 50%;
    opacity: 0.5;
}

#ita{
    background-image: url(./../img/languages/ita.png);
}

#eng{
    background-image: url(./../img/languages/eng.png);
}

#spa{
    background-image: url(./../img/languages/spa.png);
}

#rom{
    background-image: url(./../img/languages/rom.png);
}

#nap{
    background-image: url(./../img/languages/nap.png);
}

.selected{
    opacity: 1;
}