#settings {
    width: 100vw;
    height: 100vh;
    background-color: aliceblue; /* ! */
    position: relative;
    z-index: 1;
}

#settingsBlock {
    width: 400px;
    position: absolute;
    top: 20vh;
    left: 50vw;
    transform: translate(-50%, 0);
}

#bar{
    display: flex;
    justify-content: center;
}

.bar:after{
    content: "";
    clear: both;
    display: table;
}

#playerInput{
    color: #024c27;
    width: 200px;
    height: auto;
    border-radius: 18px;
    padding: 6px 10px;
    overflow: auto;
}

.playersDisplay{
    height: auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-content: start;
    gap: 7px;
    position: relative;
    margin: 20px 0 0;
}

.listElement{
    height: 24px;
    color: #024c27;
    background-color: white;
    border-radius: 5px;
    line-height: 1.4;
    padding: 0 8px;
    float: left;
}

.listElementText {
    font-size: 16px;
}

.cross{
    width: 22.4px;
    height: 22.4px;
    display: inline-block;
    color: red;
    margin-bottom: 4px;
    border-radius: 50%;
    position: relative;
    top: 1px;
    cursor: pointer;
}

.languagesBox{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 20px;
    position: absolute;
    bottom: 49px;
    left: 0;
    right: 0;
    padding: 20px;
}

.language{
    width: 32px;
    height: 32px;
    border-radius: 50%;
    opacity: 0.5;
}

#ita{
    background-image: url(./../img/languages/ita.png);
}

#eng{
    background-image: url(./../img/languages/eng.png);
}

#spa{
    background-image: url(./../img/languages/spa.png);
}

#rom{
    background-image: url(./../img/languages/rom.png);
}

#nap{
    background-image: url(./../img/languages/nap.png);
}

.selected{
    opacity: 1;
}