/* ^ General */
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

:root {
    --color-text: #000000;
}

html {
    width: 100vw;
    height: 100vh;
    font-family: 'Ysabeau SC', sans-serif;
    color: black;
    background-image: url(img/bg.jpg);
    background-color: blanchedalmond; /* ! */
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    font-weight: 400;
    text-align: center;
}

/* ^ Class */
.btn1 {
    font-size: 20px;
    border-radius: 40px;
    color: white;
    background: radial-gradient(closest-side, #727272, #422b05);
    border: 0;
    padding: 6px 30px;
    margin-top: 15px;
}

.btn2 {
    width: 32px;
    height: 32px;
    font-size: 20px;
    color: black;
    background-color: white;
    border-radius: 50%;
    margin-left: 3px;
    float: left;
    overflow: auto;
    border: solid 2px gray;
    line-height: 1.4;
}

.btn3 {
    
}

/* ^ Utilities */
.hidden {
    display: none
}

.fitImg {
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
}

.pointer {
    cursor: pointer;
}